@inherits LayoutComponentBase

<div class="layout">
    <header>
        <NavMenu />
    </header>

    <main>
        <section class="content-wrapper">
            <article>
                @Body
            </article>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <p>&copy; 2026 ReLoop. Give items a second life.</p>
        </div>
    </footer>
</div>
